:root {
  --mainColor: #222222;
  --subColor: #ffc700;
  --lightGray: #858383;
  --font_robot: "Roboto", sans-serif;
  --montrserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--mainColor);
  box-sizing: border-box;
}

#header {
  width: 100%;
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0.404), rgba(85, 85, 85, 0.404)), url("../asset/Emma.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .container .navBar {
  padding: 2rem;
  display: flex;
}
#header .container .navBar .toggle {
  display: none;
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#header .container .navBar .toggle:hover {
  background: white;
  color: black;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#header .container .navBar .ulContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .navBar .ulContainer ul li {
  list-style: none;
  margin-left: 2rem;
}
#header .container .navBar .ulContainer ul li a {
  text-decoration: none;
  font-family: var(--font_robot);
  color: white;
  font-size: 15px;
}
#header .container .navBar .ulContainer ul li a:hover {
  opacity: 0.5;
}
#header .active-container {
  background: white;
  position: fixed;
  width: 100%;
}
#header .active-container .navBar .toggle {
  color: black;
  border: 1px solid black;
}
#header .active-container .navBar .toggle:hover {
  background: black;
  color: white;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#header .active-container .navBar .ulContainer ul li a {
  color: black;
}
#header .scroll {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
}
#header .scroll .scrollContainer {
  width: 2rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#header .scroll .scrollContainer .ball {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 4px;
}

#protfolio {
  margin-top: 3rem;
  padding: 1rem;
}
#protfolio .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#protfolio .container .subtitle span {
  font-weight: bolder;
}
#protfolio .container .tabLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  font-family: var(--font_robot);
}
#protfolio .container .tabLinks .tab-link {
  margin-left: 2rem;
  font-size: 15px;
  cursor: pointer;
}
#protfolio .container .tabLinks .tab-link:first-child {
  margin-left: 0rem;
}
#protfolio .container .tabLinks .active-link {
  color: var(--subColor);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#protfolio .container .tabContents {
  margin-top: 2rem;
  padding: 1rem;
}
#protfolio .container .tabContents .tab-content {
  display: none;
}
#protfolio .container .tabContents .tab-content img {
  width: 100%;
}
#protfolio .container .tabContents .active-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}

@media (max-width: 768px) {
  #header .container .navBar .toggle {
    display: block;
    position: absolute;
    left: 1rem;
    top: 10px;
  }
  #header .container .navBar .ulContainer {
    margin-top: 3rem;
    margin-left: -16rem;
    display: none;
  }
  #header .container .navBar .ulContainer ul {
    display: block;
  }
  #header .container .navBar .ulContainer ul li {
    margin-top: 1rem;
  }
  #header .container .navBar .active-ul {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */