:root {
  --mainColor: #222222;
  --subColor: #ffc700;
  --lightGray: #858383;
  --font_robot: "Roboto", sans-serif;
  --montrserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--mainColor);
  box-sizing: border-box;
}

#header {
  width: 100%;
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0.404), rgba(85, 85, 85, 0.404)), url("../asset/Emma.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header .navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#header .navBar ul {
  display: flex;
  font-family: var(--montrserrat);
}
#header .navBar ul li {
  margin-left: 2rem;
  list-style: none;
  font-weight: 200;
  font-size: 15px;
}
#header .navBar ul li a {
  text-decoration: none;
  color: white;
}
#header .navBar .toggle {
  display: none;
}
#header .details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
#header .details .text {
  text-align: center;
}
#header .details .text p {
  color: white;
  font-family: var(--font_robot);
  font-size: 30px;
  font-weight: 300;
}
#header .details .text h1 {
  margin-top: 0.2rem;
  font-family: var(--font_robot);
  color: white;
  font-size: 60px;
  letter-spacing: 10px;
}
#header .details .text p:nth-child(3) {
  font-size: 18px;
}
#header .scrolldown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
#header .scrolldown a .ballContainer {
  width: 2rem;
  background: none;
  border: 1px solid black;
  height: 3rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}
#header .scrolldown a .ballContainer .ball {
  position: absolute;
  bottom: 2px;
  left: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#protfolio {
  margin-top: 3rem;
}
#protfolio .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#protfolio .container .subtitle span {
  font-weight: bolder;
}
#protfolio .container .tabLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  font-family: var(--font_robot);
}
#protfolio .container .tabLinks .tab-link {
  margin-left: 2rem;
  font-size: 15px;
  cursor: pointer;
}
#protfolio .container .tabLinks .tab-link:first-child {
  margin-left: 0rem;
}
#protfolio .container .tabLinks .active-link {
  color: var(--subColor);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#protfolio .container .tabContents {
  margin-top: 2rem;
  padding: 1rem;
}
#protfolio .container .tabContents .tab-content {
  display: none;
}
#protfolio .container .tabContents .tab-content img {
  width: 100%;
}
#protfolio .container .tabContents .active-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}

@media (max-width: 768px) {
  #header .navBar {
    display: inline-block;
  }
  #header .navBar ul {
    display: none;
  }
  #header .navBar .toggle {
    display: block;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  #header .navBar .toggle i {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */