:root{
    --mainColor: #222222;
    --subColor: #ffc700;
    --lightGray: #858383;
    --font_robot: 'Roboto', sans-serif;
    --montrserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--mainColor);
    box-sizing: border-box;
}

#header{
    width: 100%;
    background: linear-gradient(to bottom, rgba(85, 85, 85, 0.404), rgba(85, 85, 85, 0.404)),
    url('../asset/Emma.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .navBar{
            padding: 2rem;
            display: flex;

            .toggle{
                display: none;
                color: white;
                border: 1px solid white;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
            }

            .toggle:hover{
                background: white;
                color: black;
                transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
            }

            .ulContainer{

                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li{
                        list-style: none;
                        margin-left: 2rem;
                        a{
                            text-decoration: none;
                            font-family: var(--font_robot);
                            color: white;
                            font-size: 15px;
                        }

                        a:hover{
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .active-container{
        background: white;
        z-index: 1;
        position: fixed;
        width: 100%;
        .navBar{
            .toggle{
                color: black;
                border: 1px solid black;
            }

            .toggle:hover{
                background: black;
                color: white;
                transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
            }
            .ulContainer{
                ul{
                    li{
                        a{
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .scroll{
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        .scrollContainer{
            width: 2rem;
            height: 3rem;
            border: 1px solid white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            .ball{
                width: 1.5rem;
                height: 1.5rem;
                background: white;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                position: absolute;
                left: 5px;
                bottom: 4px;
}
        }
    }
}

#protfolio{
    margin-top: 3rem;
    padding: 1rem;
    .container{
        .subtitle{
           text-align: center;
            font-family: var(--font_robot);
            font-size: 25px;
            color: white;

            span{
                font-weight: bolder;
            }
        }

        .tabLinks{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            color: white;
            font-family: var(--font_robot);

            .tab-link{
                margin-left: 2rem;
                font-size: 15px;
                cursor: pointer;
            }

            .tab-link:first-child{
                margin-left: 0rem;
            }

            .active-link{
                color: var(--subColor);
                transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
            }
        }

        .tabContents{
            margin-top: 2rem;
            padding: 1rem;
            .tab-content{
                display: none;

                .img{
                    width: 100%;
                    height: 50vw;
                }
            }

            .active-content{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-gap: 10px;
                transition: 0.5s ease-in;
                -webkit-transition: 0.5s ease-in;
                -moz-transition: 0.5s ease-in;
                -ms-transition: 0.5s ease-in;
                -o-transition: 0.5s ease-in;
            }
        }

        #logo{
            .img{
                width: 100%;
                background: url("../asset/logo.jpeg");
                height: 50vh;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(2){
                background: url("../asset/logo\ \(2\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(3){
                background: url("../asset/logo\ \(3\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(4){
                background: url("../asset/logo\ \(4\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(5){
                background: url("../asset/mockup.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(6){
                background: url("../asset/mockup (2).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(7){
                background: url("../asset/mockup\ \(3\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

        }

        #banner{
            .img:nth-child(1){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.29.55\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(2){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.29.58\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(3){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.29.58\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(4){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.00\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(5){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.02\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(6){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.03\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(7){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.04\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(8){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.04\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(9){
                background: url("../asset/Banner/WhatsApp\ Image\ 2022-10-04\ at\ 11.30.05\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        #flyer{
            .img:nth-child(1){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.23\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(2){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.25\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(3){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.25\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(4){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.30\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(5){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.39\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(6){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.40\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(7){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.41\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(8){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.42\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(9){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.42\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(1){
                background: url("../asset/flyer/WhatsApp\ Image\ 2022-10-04\ at\ 11.13.49\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        #mockup{
            .img:nth-child(1){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.40\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(2){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.40\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(3){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.41\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(4){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.43\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(5){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.44\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(6){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.43\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(7){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.43\ PM\ \(3\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(8){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.42\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(9){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.41\ PM\ \(1\).jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .img:nth-child(10){
                background: url("../asset/mockUp/WhatsApp\ Image\ 2022-10-04\ at\ 10.58.45\ PM.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

#resume{
    margin-top: 3rem;
    padding: 2rem;
    .container{
        .subtitle{
            text-align: center;
             font-family: var(--font_robot);
             font-size: 25px;
             color: white;
 
             span{
                 font-weight: bolder;
             }
        }

        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;

            #fullContent{
                .small-title{
                    color: white;
                    font-family: var(--font_robot);
                    font-size: 20px;
                    margin-left: 10px;
                }

                .content{
                    background: #414141e0;
                    margin: 10px;
                    padding: 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    .date{
                        display: flex;
                        color: rgb(138, 138, 138);
                        font-family: var(--font_robot);
                        font-size: 10px;
                        p{
                            margin-left: 2px;
                        }
                    }

                    .details{
                        margin-top: 1rem;

                        h2{
                            font-family: var(--font_robot);
                            color: var(--subColor);
                            font-weight: 400;
                        }

                        p{
                            margin-top: 0.5rem;
                            color: #d3d3d3;
                            font-family: var(--montrserrat);
                            font-size: 13px;
                        }
                    }

                    .placeName{
                        margin-top: 1rem;
                        color: rgb(138, 138, 138);
                        font-family: var(--font_robot);
                        font-size: 12px;
                    }
                }

            }
        }
    }
}


@media(max-width: 768px){
    #header{
        .container{
            .navBar{
                .toggle{
                    display: block;
                    position: absolute;
                    left: 1rem;
                    top: 10px;
                }

                .ulContainer{
                    margin-top: 3rem;
                    margin-left: -10rem;
                    display: none;
                    ul{ 
                        display: block;
                        li{
                            margin-top: 2rem;
                        }
                    }
                }

                .active-ul{
                    display: block;
                }
            }
        }

    }

    #resume{
        .container{
            .row{
                display: block;

                .experience{
                    margin-top: 3rem;
                }
            }
        }
    }
}