:root {
  --mainColor: #222222;
  --subColor: #ffc700;
  --lightGray: #858383;
  --font_robot: "Roboto", sans-serif;
  --montrserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--mainColor);
  box-sizing: border-box;
}

#header {
  width: 100%;
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0.404), rgba(85, 85, 85, 0.404)), url("../asset/Emma.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .container .navBar {
  padding: 2rem;
  display: flex;
}
#header .container .navBar .toggle {
  display: none;
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#header .container .navBar .toggle:hover {
  background: white;
  color: black;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#header .container .navBar .ulContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .navBar .ulContainer ul li {
  list-style: none;
  margin-left: 2rem;
}
#header .container .navBar .ulContainer ul li a {
  text-decoration: none;
  font-family: var(--font_robot);
  color: white;
  font-size: 15px;
}
#header .container .navBar .ulContainer ul li a:hover {
  opacity: 0.5;
}
#header .active-container {
  background: white;
  z-index: 1;
  position: fixed;
  width: 100%;
}
#header .active-container .navBar .toggle {
  color: black;
  border: 1px solid black;
}
#header .active-container .navBar .toggle:hover {
  background: black;
  color: white;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#header .active-container .navBar .ulContainer ul li a {
  color: black;
}
#header .scroll {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
}
#header .scroll .scrollContainer {
  width: 2rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#header .scroll .scrollContainer .ball {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 4px;
}

#protfolio {
  margin-top: 3rem;
  padding: 1rem;
}
#protfolio .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#protfolio .container .subtitle span {
  font-weight: bolder;
}
#protfolio .container .tabLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  font-family: var(--font_robot);
}
#protfolio .container .tabLinks .tab-link {
  margin-left: 2rem;
  font-size: 15px;
  cursor: pointer;
}
#protfolio .container .tabLinks .tab-link:first-child {
  margin-left: 0rem;
}
#protfolio .container .tabLinks .active-link {
  color: var(--subColor);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#protfolio .container .tabContents {
  margin-top: 2rem;
  padding: 1rem;
}
#protfolio .container .tabContents .tab-content {
  display: none;
}
#protfolio .container .tabContents .tab-content .img {
  width: 100%;
  height: 50vw;
}
#protfolio .container .tabContents .active-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
#protfolio .container .tabContents .active-content .img {
  width: 350px;
  height: 238px;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
}
#protfolio .container .tabContents .active-content .img img {
  width: 100%;
  height: 238px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
#protfolio .container .tabContents .active-content .img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#protfolio .container .model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(70, 69, 69, 0.712);
}
#protfolio .container .model .close {
  position: absolute;
  color: white;
  font-family: var(--montrserrat);
  font-size: 20px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
#protfolio .container .model .img {
  width: 350px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#protfolio .container .model .img img {
  width: 100%;
}

#resume {
  margin-top: 3rem;
  padding: 2rem;
}
#resume .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#resume .container .subtitle span {
  font-weight: bolder;
}
#resume .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
#resume .container .row #fullContent .small-title {
  color: white;
  font-family: var(--font_robot);
  font-size: 20px;
  margin-left: 10px;
}
#resume .container .row #fullContent .content {
  background: #333333;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#resume .container .row #fullContent .content .date {
  display: flex;
  color: rgb(138, 138, 138);
  font-family: var(--font_robot);
  font-size: 10px;
}
#resume .container .row #fullContent .content .date p {
  margin-left: 2px;
}
#resume .container .row #fullContent .content .details {
  margin-top: 1rem;
}
#resume .container .row #fullContent .content .details h2 {
  font-family: var(--font_robot);
  color: var(--subColor);
  font-weight: 400;
}
#resume .container .row #fullContent .content .details p {
  margin-top: 0.5rem;
  color: #d3d3d3;
  font-family: var(--montrserrat);
  font-size: 13px;
}
#resume .container .row #fullContent .content .placeName {
  margin-top: 1rem;
  color: rgb(138, 138, 138);
  font-family: var(--font_robot);
  font-size: 12px;
}

#about {
  padding: 3rem;
  margin-top: 3rem;
}
#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#about .container .leftSide img {
  width: 100%;
}
#about .container .rightside {
  margin-left: 2rem;
}
#about .container .rightside .subtitle {
  text-align: left;
  font-family: var(--font_robot);
  font-size: 30px;
  color: white;
}
#about .container .rightside .subtitle span {
  font-weight: bolder;
}
#about .container .rightside .aboutdetails {
  margin-top: 2rem;
  font-family: var(--font_robot);
  font-size: 18px;
  color: #858383;
}
#about .container .rightside .aboutdetails p:nth-child(1) {
  font-size: 18px;
}
#about .container .rightside .aboutdetails p {
  font-size: 15px;
  line-height: 30px;
}
#about .container .rightside .aboutdetails .button {
  margin-top: 4rem;
}
#about .container .rightside .aboutdetails .button a {
  font-size: 15px;
  background: #F1CF56;
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#about .container .rightside .aboutdetails .button a:nth-child(2) {
  margin-left: 1rem;
  background: #6C757D;
}

#testimony {
  margin-top: 3rem;
  padding: 3rem;
}
#testimony .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#testimony .container .subtitle span {
  font-weight: bolder;
}
#testimony .container .testimonyDetails {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
}
#testimony .container .testimonyDetails .testimoner {
  margin: 10px;
  padding: 20px;
  background: #333333;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#testimony .container .testimonyDetails .testimoner .testImg img {
  width: 4rem;
  height: 4rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#testimony .container .testimonyDetails .testimoner .details {
  margin-top: 0.5rem;
  font-family: var(--montrserrat);
  color: #6C757D;
  font-size: 15px;
}
#testimony .container .testimonyDetails .testimoner .details p {
  margin-bottom: 1rem;
}
#testimony .container .testimonyDetails .testimoner .details i {
  font-size: 12px;
}

#contact {
  margin-top: 3rem;
  padding: 2rem;
}
#contact .container .subtitle {
  text-align: center;
  font-family: var(--font_robot);
  font-size: 25px;
  color: white;
}
#contact .container .subtitle span {
  font-weight: bolder;
}
#contact .container .contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}
#contact .container .contactContainer .left {
  width: 100%;
}
#contact .container .contactContainer .left sub {
  font-size: 18px;
  color: white;
  font-family: var(--font_robot);
}
#contact .container .contactContainer .left form {
  margin-top: 1rem;
}
#contact .container .contactContainer .left form :where(input, textarea) {
  font-family: var(--montrserrat);
  color: white;
  font-weight: bold;
  display: block;
  width: 90%;
  padding: 15px;
  margin-top: 10px;
  background: #333333;
  outline: none;
  resize: none;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#contact .container .contactContainer .left form button {
  margin-top: 1rem;
  padding: 10px;
  background: #F1CF56;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: white;
  font-family: var(--montrserrat);
  cursor: pointer;
}
#contact .container .contactContainer .left form button:hover {
  opacity: 0.8;
}
#contact .container .contactContainer .right sub {
  font-size: 18px;
  color: white;
  font-family: var(--font_robot);
}
#contact .container .contactContainer .right ul {
  margin-top: 1rem;
}
#contact .container .contactContainer .right ul li {
  list-style: none;
  color: #6C757D;
  font-family: var(--font_robot);
  margin-top: 10px;
}
#contact .container .contactContainer .right .map {
  margin-top: 1rem;
}
#contact .container .contactContainer .right .map iframe {
  height: 50vh;
  width: 100%;
}

@media (max-width: 768px) {
  #header .container .navBar .toggle {
    display: block;
    position: absolute;
    left: 1rem;
    top: 10px;
  }
  #header .container .navBar .ulContainer {
    margin-top: 3rem;
    margin-left: -10rem;
    display: none;
  }
  #header .container .navBar .ulContainer ul {
    display: block;
  }
  #header .container .navBar .ulContainer ul li {
    margin-top: 2rem;
  }
  #header .container .navBar .active-ul {
    display: block;
  }
  #resume .container .row {
    display: block;
  }
  #resume .container .row .experience {
    margin-top: 3rem;
  }
  #about .container {
    display: block;
  }
  #about .container .rightside {
    margin-left: 0rem;
    margin-top: 1rem;
  }
  #contact .container .contactContainer {
    display: block;
  }
  #contact .container .contactContainer .right {
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media (max-width: 620px) {
  #testimony .container .testimonyDetails {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */